/* COLORS ROOT  */

:root{
    --black: #23272a;
    --white: #ffffff;
    --gray: #f6f6f6;
    --blue: #3161e0;
    --liliac-btn: #8ea1e1 ;
    --liliac-txt: #7289da ;
}

/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.debug{ /*da rimuovere*/
    border: 1px solid black;
    min-height: 100px;
}

/* GENERAL RULES */

body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--white);
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

header{
    background-color: var(--blue);
    color: var(--white);;
}

header footer{
    color: var(--white);
}

footer{
    color: var(--black);
}

li{
    list-style: none;
    font-weight: bold;
}

li a{
    color: var(--white);
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

.btn-small{
    background-color: var(--white);
    color: var(--black);
    border-radius: 20px;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.btn-big{
    background-color: var(--white);
    color: var(--black);
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.btn-black{
    background-color: var(--black);
    color: var(--white);
}

.btn-liliac{
    background-color: var(--liliac-btn);
    color: var(--white);
}

/* HEADER */

.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav{
    padding: 20px 0;
}

header nav ul{
    min-width: 500px;
}

.hero{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-hero{
    text-align: center;
    max-width: 700px;
}

h1{
    font-size: 42px;
    padding-bottom: 30px;
}

header p{
    font-size: 18px;
    padding-bottom: 40px;
    line-height: 1.5;
}

.buttons-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}