/* COLORS ROOT  */

:root{
    --black: #23272a;
    --white: #ffffff;
    --gray: #f6f6f6;
    --blue: #3161e0;
    --liliac-btn: #8ea1e1 ;
    --liliac-txt: #7289da ;
}

/* UTILITY */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

/* GENERAL RULES */

body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--white);
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

header{
    background-color: var(--blue);
    color: var(--white);
}

footer{
    background-color: var(--black);
    color: var(--white);
}

li{
    list-style: none;
    font-weight: bold;
}

li a{
    color: var(--white);
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

.btn-small{
    background-color: var(--white);
    color: var(--black);
    border-radius: 20px;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.btn-big{
    background-color: var(--white);
    color: var(--black);
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.btn-black{
    background-color: var(--black);
    color: var(--white);
}

.btn-liliac{
    background-color: var(--liliac-btn);
    color: var(--white);
}

/* HEADER */

.flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav{
    padding: 20px 0;
}

header nav ul{
    min-width: 500px;
}

.hero{
    background-image: url('../img/jumbo.png');
    background-size: cover;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-hero{
    text-align: center;
    max-width: 700px;
}

h1{
    font-size: 42px;
    padding-bottom: 30px;
}

header p{
    font-size: 18px;
    padding-bottom: 40px;
    line-height: 1.5;
}

.buttons-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.buttons-hero a:hover{ 
    box-shadow: 5px 10px 20px var(--gray);
}

/*MAIN */

.bg-gray{
    background-color: var(--gray);
}

main h2{
    font-size: 38px;
    padding-bottom: 20px;
}

main h3{
    font-size: 28px;
    padding-bottom: 30px;
}

main p{
    font-size: 16px;
    line-height: 1.5;
}

.flex-container, .single-column{
    max-width: 1170px;
    width: 70%;
    margin: 0 auto;
}

.flex-container{
    padding: 100px  0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img-main{
    width: 60%;
    padding-right: 20px;
}

.txt{
    width: 40%;
    padding-left: 70px;
    padding-top: 20px;
}

.row-reverse{
    flex-direction: row-reverse; 
}

.row-reverse .txt{
   padding-right: 60px;
   padding-left: 0;
}

.wave svg{
    color: var(--gray);
    display: block;
    padding-top: 30px;
}

.wave-bottom svg{
    color: var(--gray);
    display: block;
    transform: rotate(180deg);
    
}

.single-column{
    padding: 100px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

.contents{
    width: 800px;
}

/* FOOTER */

.footer-container{
    max-width: 1170px;
    width: 70%;
    margin: 0 auto;
    padding: 80px 0;
}

.footer-row{
    line-height: 1.8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--liliac-txt);
}

.footer-col h3{
    font-size: 28px;
    line-height: 1.2;
    color: var(--liliac-txt);
    padding-bottom: 20px;
    width: 250px;
}

.lang{
     background: var(--black); 
    color: var(--white);
    border: none;
    font-size: 14px;
   
}

.footer-col h4{
    color: var(--liliac-txt);
}

.footer-bottom{
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
}

.social-links i{
    padding: 20px 20px 0 0;
    color: var(--white);
    transform: scale(1.2);
}

.footer-row a:hover{
    text-decoration: underline;
}

.flag{
    height: 18px;
    vertical-align: middle;
}



